html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(//fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(//fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(//fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 1255px) {
  .social {
    margin-bottom: 50px; } }
.social a {
  margin-right: 7px;
  font-size: 1.5rem;
  color: rgba(231, 76, 60, 0.5);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media screen and (max-width: 1255px) {
    .social a {
      font-size: 1.5rem; } }
  @media screen and (max-width: 860px) {
    .social a {
      font-size: 1.2rem; } }
  .social a:hover {
    color: #e74c3c; }
.social p {
  display: inline-block;
  margin: 0; }
  @media screen and (max-width: 1255px) {
    .social p {
      display: block;
      font-size: 1rem; } }

#quote-source a {
  color: rgba(52, 73, 94, 0.5);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #quote-source a:hover {
    color: #34495e; }

button {
  font-size: 24px;
  font-weight: 700 !important;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  background-color: #3498db;
  border: 0px;
  color: white;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:hover {
    background-color: white;
    color: #3498db;
    border-color: #3498db; }

.corner-ribbon {
  text-transform: uppercase;
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }
  .corner-ribbon .ruban-span {
    width: 100px;
    border-style: dashed;
    padding: 5px 30px 5px 30px; }

.corner-ribbon.sticky {
  position: fixed; }

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.corner-ribbon.blue {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(52, 152, 219, 0.5); }
  .corner-ribbon.blue:hover {
    background-color: #3498db; }

#main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #2ecc71; }

#header {
  padding-top: 50px;
  width: 155px;
  margin: 0 auto; }
  #header .st0 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: rgba(52, 73, 94, 0.5); }

#content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 780px) {
    #content {
      display: flex;
      flex-direction: column; } }

.share {
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .share:last-child {
    margin-right: 0; }
  @media screen and (max-width: 780px) {
    .share {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
      order: 1; }
      .share:last-child {
        margin-right: 0; } }

.source {
  font-size: 1rem;
  color: white;
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 10.43705%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .source:last-child {
    margin-right: 0; }
  @media screen and (max-width: 780px) {
    .source {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
      order: 4; }
      .source:last-child {
        margin-right: 0; } }
  .source p:first-child {
    margin-bottom: 3px; }
    @media screen and (max-width: 400) {
      .source p:first-child {
        color: red !important; } }
  .source #quote-source {
    font-size: 1.3rem;
    margin-top: 0;
    font-weight: 700; }
    .source #quote-source a {
      color: rgba(52, 73, 94, 0.5);
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .source #quote-source a:hover {
        color: #34495e; }

.line {
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 8.73109%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .line:last-child {
    margin-right: 0; }
  @media screen and (max-width: 780px) {
    .line {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10%;
      order: 3; }
      .line:last-child {
        margin-right: 0; } }
  .line span {
    width: 70%;
    display: block;
    height: 4px;
    background-color: white; }
    @media screen and (max-width: 780px) {
      .line span {
        width: 30%; } }

#quote-content {
  color: white;
  font-weight: 700;
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 59.05694%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #quote-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 780px) {
    #quote-content {
      text-align: center;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40%;
      order: 2; }
      #quote-content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    #quote-content {
      height: 50%; } }
  @media screen and (max-width: 400px) {
    #quote-content p {
      line-height: 35px;
      text-overflow: ellipsis; } }

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; }
  @media screen and (max-width: 780px) {
    #footer {
      height: 170px;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0; } }
  #footer .footer-default, #footer .copyright, #footer .social, #footer .button {
    font-weight: 600;
    width: 30%;
    height: 70%;
    bottom: 0;
    display: inline-block;
    font-size: 18px;
    color: rgba(52, 73, 94, 0.5);
    text-transform: uppercase; }
  #footer .copyright {
    padding-top: 30px;
    padding-left: 90px; }
    @media screen and (max-width: 1255px) {
      #footer .copyright {
        margin-bottom: 50px; } }
    @media screen and (max-width: 780px) {
      #footer .copyright {
        font-size: 1rem;
        order: 2;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 0;
        padding-top: 20px;
        margin: 0; } }
    #footer .copyright span {
      color: #e74c3c; }
  #footer .social {
    float: right;
    text-align: right;
    padding-right: 90px;
    padding-top: 30px; }
    @media screen and (max-width: 780px) {
      #footer .social {
        font-size: 0.7rem;
        order: 3;
        align-self: flex-end;
        height: auto;
        width: 100%;
        text-align: center;
        float: none;
        padding: 0;
        padding-bottom: 15px;
        margin: 0; } }
    @media screen and (max-width: 960px) {
      #footer .social {
        font-size: 1rem; } }
  #footer .button {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 780px) {
      #footer .button {
        order: 1;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
